@use "../../../assets/fonts/typography/tokens.scss" as *;

$compClass: "card-detail";

.#{$compClass} {
    min-width: 180px;
    max-width: 180px;
    height: 340px;
    overflow: hidden;

    &__img-wrapper {
        width: 100%;
        height: 80%;
        // overflow: hidden;
    }

    &__img {
        width: 100%;
        height: 90%;
        object-fit: contain;
        object-fit: contain;
        border-radius: 4px;
        padding: 5px;
        filter: drop-shadow(0px 4px 1px rgb(0, 0, 0));
    }

    &__text {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        @include font-body-medium();

    }
}