@use "../../../assets/fonts/typography/tokens.scss" as * ;


$compClass: "search";

.#{$compClass} {
    &__input-wrapper {
        display: flex;
        align-items: center;
        width: 100%;
        border-bottom: 1px solid #000;
    }

    &__icon-wrapper {
        display: flex;
        align-items: center;
    }

    &__icon {
        margin-bottom: 10px;
        margin-right: 8px; // Add some space between the icon and the input
        width: 12px;
    }

    &-input {
        border: none;
        padding-bottom: 10px;
        width: 100%;
        @include font-body-regular();
        text-transform: uppercase;
        color: black;

        &:focus {
            outline: none;
        }
    }


    &__clear-icon-wrapper {
        cursor: pointer;
    }


}